.mob-main {
  background: url('~@img/page-bgc.webp') no-repeat;
  background-size: cover;
  background-color: #171717;
  a {
    color: #fff;
  }
  .title {
    margin-bottom: 8px;
    color: #fff;
    font-weight: initial;
  }
  p {
    line-height: 28px;
    color: #fff;
    font-size: 12px;
  }
  #video {
    width: 100%;
    object-fit: cover;
  }

  .section-bgc {
    position: relative;
    height: 804px;
    padding-top: 120px;
    color: #fff;
    text-align: center;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -53px;
      width: 351px;
      height: 182px;
      transform: translateX(-50%);
      background: url('~@img/phone/boys.png') no-repeat;
      background-size: cover;
      z-index: 99;
    }
    .arrow-wrap {
      .arrow {
        position: absolute;
        left: 50%;
        top: 10%;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        img {
          width: 15px;
        }
      }

      .arrow-1 {
        -webkit-animation: arrow-movement 2s ease-in-out infinite;
        animation: arrow-movement 2s ease-in-out infinite;
      }

      .arrow-2 {
        -webkit-animation: arrow-movement 2s 1s ease-in-out infinite;
        animation: arrow-movement 2s 1s ease-in-out infinite;
      }

      @-webkit-keyframes arrow-movement {
        0% {
          opacity: 0;
          top: 5%;
        }
        70% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

      @keyframes arrow-movement {
        0% {
          opacity: 0;
          top: 5%;
        }
        70% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
    .desc {
      position: relative;
      padding: 0 12px;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -200px;
        width: 338px;
        height: 191px;
        background: url('~@img/phone/boy-1.png') no-repeat;
        background-size: cover;
      }
    }
    .big-text {
      position: absolute;
      left: 0;
      bottom: 0;
      color: #fff;
      line-height: 98px;
      text-align: center;
      width: 100%;
      height: 138px;
      // background: linear-gradient(360deg, #f4543b 0%, rgba(244, 84, 59, 0) 100%);
      span {
        // position: absolute;
        // left: 50%;
        // transform: translateX(-50%);
        // width: 100%;
        // -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
        // text-stroke: 1px rgba(255, 255, 255, 0.3);
        // font-size: 70px;
        // font-family: Roboto-Black, Roboto;
        width: 100%;
        position: absolute;
        top: -102px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 70px;
        font-family: Roboto-Black, Roboto;
        font-weight: 900;
        color: rgba(0, 0, 0, 0);
        line-height: 1.96rem;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
        text-stroke: 1px rgba(255, 255, 255, 0.3);
        background: -webkit-gradient(
          linear,
          left bottom,
          left top,
          from(#f4543b),
          to(rgba(244, 84, 59, 0))
        );
        background: -webkit-linear-gradient(bottom, #f4543b 0%, rgba(244, 84, 59, 0) 100%);
        background: -o-linear-gradient(bottom, #f4543b 0%, rgba(244, 84, 59, 0) 100%);
        background: linear-gradient(360deg, #f4543b 0%, rgba(244, 84, 59, 0) 100%);
      }
    }
  }

  .section-mint {
    padding-top: 72px;
    .title {
      text-align: center;
    }
    .intro {
      padding: 0 45px;
      text-align: center;
    }

    .left {
      text-align: left;
    }
    .text-gap {
      padding: 0 12px;
    }
    .mint-btn {
      font-family: 'Fontquan-XinYiGuanHeiTi-Regular';
      position: relative;
      width: 289px;
      height: 54px;
      margin: 57px auto 96px;
      background: url('~@img/mint-btn.png');
      background-size: cover;
      @include flexPos(center);
      color: #ffffff;
      line-height: 20px;
      font-size: 14px;
      img {
        width: 10px;
        margin-left: 7px;
      }
    }

    .desc-img {
      padding: 0 12px;
      margin: 19px 0 80px;
      img {
        width: 100%;
      }
    }

    .refer {
      position: relative;
      padding-bottom: 366px;
      .refer-wrap {
        position: relative;
        z-index: 9;
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 210px;
        background: url('~@img/phone/recom.png') no-repeat;
        background-size: cover;
        width: 100%;
        height: 292px;
        z-index: 3;
      }
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 18px;
        background: url('~@img/phone/refer.png') no-repeat;
        background-size: cover;
        width: 233px;
        height: 277px;
        z-index: 4;
      }
    }
  }

  .section-nft {
    padding: 20px 17px 29px;
    background: url('~@img/phone/nft-bgc.png') no-repeat;
    background-size: cover;
    .img {
      margin-top: 25px;
      img {
        width: 100%;
      }
    }
  }
  .section-term {
    padding-top: 68px;
    padding-bottom: 109px;
    color: #fff;
    .title {
      line-height: 25px;
      font-size: 18px;
      margin-bottom: 47px;
      text-align: center;
    }
    .term-item {
      @include flexPos(center);
      flex-direction: column;
      margin-bottom: 48px;
      .name {
        margin-top: 22px;
        margin-bottom: 8px;
      }
      .office {
        margin-bottom: 3px;
      }
      .info {
        max-width: 180px;
        text-align: center;
      }
      img {
        width: 125px;
      }
    }
  }

  .route-map {
    color: #fff;
    .title {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
    }

    .route-map-wrap {
      margin: 0 auto;
      .arrow {
        padding-top: 45px;
        img {
          width: 36px;
          margin: 0 auto;
        }
      }
    }
    .route-map-item {
      display: flex;
      flex-direction: column;
      padding: 0 14px;
    }
    .route-map-item {
      display: flex;
      .last-img {
        padding-left: 23px;
      }
      .map-header {
        .map-group {
          position: relative;
          @include flexPos(flex-start, center);
          &::after {
            position: absolute;
            left: 0;
            bottom: 25px;
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #fff;
          }
          .name {
            font-size: 16px;
            margin-right: 50px;
            flex-shrink: 0;
          }
          .time {
            font-size: 16px;
            margin-right: 84px;
            flex-shrink: 0;
          }
          img {
            width: 56px;
            z-index: 99;
          }
        }
      }
      ul {
      }
      ul li {
        position: relative;
        line-height: 30px;
        font-size: 14px;
        @include flexPos(flex-start, center);
        &::before {
          content: '';
          display: inline-block;
          width: 10px;
          height: 10px;
          background: url('~@img/diamond.svg') no-repeat;
          margin-right: 6px;
          margin-top: 10px;
          align-self: flex-start;
          flex-shrink: 0;
        }
        &.done::before {
          background: url('~@img/diamond-done.svg') no-repeat;
        }
        &.done {
          color: #f4543b;
        }
      }
    }
  }

  .our-partner {
    padding-top: 51px;
    .title {
      margin-bottom: 33px;
    }
    .our-partner-wrap {
      flex-wrap: wrap;
      @include flexPos(center);
      padding-bottom: 77px;
    }
    .partner-item {
      width: 50%;
      img{
        margin: 0 auto;
      }
      &:nth-child(1) img {
        width: 91px;
        margin-right: 50px;
        margin-bottom: 30px;
      }
      &:nth-child(2) img {
        width: 124px;
        margin-bottom: 30px;
      }
      &:nth-child(3) img {
        width: 124px;
      }
    }
  }

  footer {
    color: #fff;
    text-align: center;
    .text {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 12px;
    }
    .bottom {
      margin-top: 48px;
      padding-bottom: 40px;
      p {
        font-size: 22px;
        line-height: 31px;
        margin-bottom: 17px;
      }
    }
    .link-wrap {
      @include flexPos(center);
      a:nth-child(1) img {
        width: 23px;
        margin-right: 52px;
      }
      a:nth-child(2) img {
        width: 23px;
        margin-right: 48px;
      }
      a:nth-child(3) img {
        width: 28px;
      }
    }
  }
}
