.pc-main {
  background: url('~@img/page-bgc.webp') no-repeat;
  background-size: cover;
  background-color: #171717;

  a {
    color: #fff;
  }
  h3 {
    font-weight: initial;
  }

  #video {
    width: 100%;
    object-fit: cover;
  }
  .banner {
    img {
      width: 100%;
    }
  }
  .section-bgc {
    position: relative;
    @include flexPos(flex-start, flex-start);
    flex-direction: column;
    height: 1350px;
    padding: 248px 0 73px;
    color: #fff;
    text-align: center;
    .section-bgc-wrap {
      width: 1200px;
      margin: 0 auto;
    }
    .arrow-wrap {
      .arrow {
        position: absolute;
        left: 50%;
        top: 10%;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        img {
          width: 33px;
        }
      }

      .arrow-1 {
        -webkit-animation: arrow-movement 2s ease-in-out infinite;
        animation: arrow-movement 2s ease-in-out infinite;
      }

      .arrow-2 {
        -webkit-animation: arrow-movement 2s 1s ease-in-out infinite;
        animation: arrow-movement 2s 1s ease-in-out infinite;
      }

      @-webkit-keyframes arrow-movement {
        0% {
          opacity: 0;
          top: 5%;
        }
        70% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

      @keyframes arrow-movement {
        0% {
          opacity: 0;
          top: 5%;
        }
        70% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
    .bottom {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 140px;
      font-family: Roboto-Black, Roboto;
      font-weight: 900;
      color: rgba(0, 0, 0, 0);
      line-height: 196px;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
      text-stroke: 1px rgba(255, 255, 255, 0.3);
      background: linear-gradient(360deg, #f4543b 0%, rgba(244, 84, 59, 0) 100%);
      border-radius: 0px 0px 0px 0px;
      opacity: 1;
      z-index: 1;
      padding-bottom: 160px;
    }
    .desc {
      position: relative;
      z-index: 9;
      h3 {
        font-size: 22px;
        line-height: 31px;
        margin-bottom: 26px;
      }
      p {
        line-height: 32px;
        font-size: 16px;
      }
    }

    .info {
      position: relative;
      margin: 0 auto;
      z-index: 99;
      margin-top: 760px;
      text-align: center;
      h3 {
        margin-bottom: 26px;
        font-size: 22px;
        line-height: 31px;
      }
      P {
        font-weight: 400;
        line-height: 24px;
        font-size: 14px;
        max-width: 522px;
        margin: 0 auto;
      }
    }
    .boy-1 {
      position: absolute;
      top: 405px;
      left: 50%;
      transform: translateX(-50%);
      img {
        width: 658px;
      }
    }
    .boy-2 {
      position: absolute;
      bottom: -80px;
      left: 107px;
      z-index: 2;
      img {
        width: 510px;
      }
    }
    .boy-3 {
      position: absolute;
      bottom: -80px;
      right: 107px;
      z-index: 2;
      img {
        width: 546px;
      }
    }
  }

  .section-mint {
    color: #fff;
    .section-wrap {
      padding: 193px 0 232px;
      margin: 0 auto;
      width: 1200px;
    }
    .mint-btn {
      position: relative;
      width: 480px;
      height: 90px;
      margin: 0 auto;
      background: url('~@img/mint-btn.png');
      font-family: 'Fontquan-XinYiGuanHeiTi-Regular';
      background-size: cover;
      opacity: 1;
      @include flexPos(center);
      color: #ffffff;
      line-height: 31px;
      font-size: 22px;
      margin-bottom: 112px;
      img {
        width: 17px;
        margin-left: 12px;
      }
    }
    h3 {
      font-size: 22px;
      font-weight: 400;
      color: #ffffff;
      line-height: 31px;
      margin-bottom: 26px;
    }
    p {
      font-weight: 400;
      color: #ffffff;
      line-height: 40px;
      font-size: 14px;
    }

    .desc-img {
      margin-top: 27px;
      margin-bottom: 177px;
      img {
        width: 1200px;
      }
    }

    .refer {
      position: relative;
      width: 1200px;
      margin: 0 auto;
      // height: 344px;
      background: url('~@img/recom.png') no-repeat;
      background-size: cover;
      opacity: 1;
      padding: 93px 0px 38px 28px;
      h3 {
        font-size: 22px;
        color: #ffffff;
        line-height: 31px;
      }
      .gap {
        height: 28px;
      }
      p {
        color: #ffffff;
        line-height: 24px;
        max-width: 590px;
      }
      .desc-img {
        position: absolute;
        right: 0;
        top: -180px;
        img {
          width: 444px;
        }
      }
    }
  }

  .section-nft {
    background-image: url('~@img/nft-bgc.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0 132px;
    .section-nft-wrap {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      .desc {
        flex-direction: column;
        @include flexPos(center, flex-start);
        h3 {
          font-size: 22px;
          line-height: 31px;
          color: #fff;
          margin-bottom: 23px;
        }
        p {
          font-weight: 400;
          color: #ffffff;
          line-height: 40px;
        }
      }
      .img {
        margin-left: 145px;
        img {
          width: 503px;
        }
      }
    }
  }

  .section-partner {
    .section-partner-wrap {
      width: 1200px;
      margin: 0 auto;
      padding-top: 112px;
      text-align: center;
      .title {
        font-size: 22px;
        color: #ffffff;
        line-height: 31px;
        margin-bottom: 62px;
      }
    }

    .partner-wrap {
      @include flexPos(space-around, flex-start);
      margin-bottom: 112px;
      .partner-item {
        @include flexPos(center);
        flex-direction: column;
        color: #fff;
        // height: auto;
        img {
          width: 215px;
        }
        .name {
          margin: 20px 0 17px;
        }
        .office {
          margin-bottom: 6px;
        }
        .info {
          max-width: 270px;
        }
      }
    }

    .route-map {
      color: #fff;
      margin-bottom: 112px;
      .title {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 34px;
      }

      .route-map-wrap {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        .arrow {
          padding-top: 45px;
          img {
            width: 36px;
          }
        }
      }
      .route-map-item {
        width: 308px;
        display: flex;
        flex-direction: column;
      }
      .route-map-item {
        display: flex;
        .map-header {
          .map-group {
            position: relative;
            @include flexPos(flex-start, center);
            &::after {
              position: absolute;
              left: 0;
              bottom: 25px;
              content: '';
              display: block;
              width: 100%;
              height: 1px;
              background-color: #fff;
            }
            .name {
              font-size: 20px;
              margin-right: 45px;
              flex-shrink: 0;
            }
            .time {
              font-size: 20px;
              margin-right: 28px;
              flex-shrink: 0;
            }
            img {
              width: 56px;
              z-index: 99;
            }
          }
        }
        ul li {
          position: relative;
          line-height: 30px;
          font-size: 14px;
          @include flexPos(flex-start, center);
          &::before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            background: url('~@img/diamond.svg') no-repeat;
            margin-right: 6px;
            margin-top: 10px;
            align-self: flex-start;
            flex-shrink: 0;
          }
          &.done::before {
            background: url('~@img/diamond-done.svg') no-repeat;
          }
          &.done {
            color: #f4543b;
          }
        }
      }
      .arrow {
        margin: 0 51px 0 41px;
      }
    }

    .our-partner {
      color: #fff;
      text-align: center;
      padding-bottom: 242px;
      .title {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 54px;
      }
      .our-partner-wrap {
        @include flexPos(center);
        .partner-item:nth-child(1) img {
          width: 133px;
          margin-right: 81px;
        }
        .partner-item:nth-child(2) img {
          width: 182px;
          margin-right: 81px;
        }
        .partner-item:nth-child(3) img {
          width: 182px;
        }
      }
    }
  }

  footer {
    color: #fff;
    text-align: center;
    .text {
      font-size: 22px;
      line-height: 31px;
    }
    .bottom {
      margin-top: 100px;
      padding-bottom: 47px;
      p {
        font-size: 22px;
        line-height: 31px;
        margin-bottom: 17px;
      }
    }
    .link-wrap {
      @include flexPos(center);
      a:nth-child(1) img {
        width: 23px;
        margin-right: 52px;
      }
      a:nth-child(2) img {
        width: 23px;
        margin-right: 48px;
      }
      a:nth-child(3) img {
        width: 28px;
      }
    }
  }
}
